* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: rgb(9, 82, 78);
    color: antiquewhite;
    font-family: 'Lucida Grande', sans-serif;
    font-size: 16px;
}

h1, p {
    margin: 1em auto;
    text-align: center;
}

p {
    font-style: italic;
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #c48614;
}

fieldset:last-of-type {
    border-bottom: none;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input,
textarea,
select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
    background-color: antiquewhite;
}

input, textarea {
    background-color: antiquewhite;
    border: 1px solid #0a0a23;
    color: #3b3b4f;
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: rgb(172, 113, 4);
    border-color: rgb(172, 113, 4);
    border-radius: 10px;
    min-width: 300px;
    color: antiquewhite;
}

input[type="file"] {
    padding: 1px 2px;
}

.inline{
    display: inline; 
}

a{
    color: antiquewhite;
}
